*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
* {
    font-family: sans-serif; 
}
img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
span, a {
    display: inline-block;
}
a {
    text-decoration: none;
    text-decoration: none;
}
.all {
    padding: 15px;
    max-width: 100%;
    min-height: 100vh;
}
.top {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: end;
}
.img1 {
    width: 25px;
    margin-top: 5px;
    margin-right: 15px;
}
.img2 {
    width: 35px;
}
.boxes {
    margin-top: 7px;
}
.link1 {
    margin-right: 15px;
    color: #000;
    transition: 0.1s all linear;
    font-size: 14.5px;
}
.link1:hover {
    text-decoration: underline;
}
.img3 {
    width: 300px;
}
.img-center {
    text-align: center;
    margin-top: 50px;
}
.inputs {
    text-align: center;
    border: 1px solid #aaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 100px;
}
.int {
    border: none;
    width: 450px;
    margin-right: 10px;
    font-size: 17px;
}
.img5 {
    width: 15px;
    margin-right: 15px;
}
.img6 {
    width: 25px;
}
.icon {
    color: gray;
    margin-right: 20px;
}
.imgs {
    margin-left: 15px;
}
.circle {
    text-align: center;
    transition: 0.1s all linear;
    border-radius: 6px;
    width: 110px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.circle:hover {
    background-color: #00000046;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.img7 {
    width: 50px;
}
.imgs {
    margin: auto;
}
.box {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
}
.icon3 {
    font-size: 50px;
    color: #000;
}